/*
Use margin and padding to space your elements in a visually pleasing way.
Use at least one of each of the following types of selectors: element, class, id.
Don't break these rules:
At all costs, avoid adding HTML elements in order to achieve a specific visual effect.
Use document-level and inline styles sparingly, and only when absolutely necessary.
As before, be creative! Make your page look great, and don't settle for checking off the items above. Have a look at CSS Zen Garden for inspiration (use your browser's developer tools to see how those pages' styles are built).
*/

body {
    background-color: #A4A4A4;
    font-family: Garamond;
    font-size: 14px;
    color: #4A4943;
}

h1 {
    text-align: center;
    font-family: Verdana;
    color: #ffffff;
}

h2 {
text-align: left;
    font-family: Verdana;
    color: #576D94;
}

.recipes {
    text-align: center;
}

article {
    display: inline-block;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px 10px 20px 10px;
    padding: 30px;
    vertical-align: middle;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

ul {
    text-align: left;
}

#tea {
    height: 50%;
    width: 50%;
}

footer {
    color: #ffffff;
    text-align: center;
    font-family: Verdana;
    font-size: 12px;
}
